In [14]:
import pandas as pd
df=pd.read_csv("netflix_titles.csv")
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [15]:
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [16]:
print(df["cast"])

0                                                     NaN
1       Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2       Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                     NaN
4       Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
                              ...
8802    Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8803                                                  NaN
8804    Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805    Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806    Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
Name: cast, Length: 8807, dtype: object

In [17]:
df_new = df.dropna(subset=['cast'])

actor_data = df_new['cast'].str.split(', ', expand=True).stack().reset_index(level=1, drop=True).reset_index()
actor_data.columns = ['Title_Index', 'Actor_name']

print(actor_data.head(20))

    Title_Index            Actor_name
0             1            Ama Qamata
1             1           Khosi Ngema
2             1         Gail Mabalane
3             1        Thabang Molaba
4             1      Dillon Windvogel
5             1       Natasha Thahane
6             1           Arno Greeff
7             1     Xolile Tshabalala
8             1       Getmore Sithole
9             1        Cindy Mahlangu
10            1         Ryle De Morny
11            1       Greteli Fincham
12            1  Sello Maake Ka-Ncube
13            1           Odwa Gwanya
14            1        Mekaila Mathys
15            1         Sandi Schultz
16            1        Duane Williams
17            1       Shamilla Miller
18            1      Patrick Mofokeng
19            2         Sami Bouajila

In [24]:
actor_freq = actor_data['Actor_name'].value_counts().reset_index()
actor_freq.columns = ['Actor_name', 'Frequency']
print("Actor names with their frequency of appearance\n")
print(actor_freq)

Actor names with their frequency of appearance

                    Actor_name  Frequency
0                  Anupam Kher         43
1               Shah Rukh Khan         35
2                Julie Tejwani         33
3             Naseeruddin Shah         32
4             Takahiro Sakurai         32
...                        ...        ...
36434             Maryam Zaree          1
36435           Melanie Straub          1
36436  Gabriela Maria Schmeide          1
36437            Helena Zengel          1
36438    Chittaranjan Tripathy          1

[36439 rows x 2 columns]

In [25]:
top_10_actors = actor_freq.head(10)
print("Top 10 Actors with their frequency of appearance\n")
print(top_10_actors)

Top 10 Actors with their frequency of appearance

         Actor_name  Frequency
0       Anupam Kher         43
1    Shah Rukh Khan         35
2     Julie Tejwani         33
3  Naseeruddin Shah         32
4  Takahiro Sakurai         32
5      Rupa Bhimani         31
6      Akshay Kumar         30
7           Om Puri         30
8         Yuki Kaji         29
9      Paresh Rawal         28